################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/packages/
/PhotoServer/bin
/PhotoServer/obj
/.vs/PhotoServer/v14
